<!-- Search and Table Section -->
{% extends 'partials/main-base.html' %} {% load static %} {% block styles %}
<style>
  .primary-green {
    background-color: #2e7d32;
    color: white;
  }

  .primary-green:hover {
    background-color: #27662a;
  }

  .primary-green-text {
    color: #2e7d32;
  }

  .primary-green-border {
    border-color: #2e7d32;
  }

  .upload-image {
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #2e7d32;
    width: 200px;
    height: 200px;
  }

  .add-image {
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid #2e7d32;
    width: 130px;
    height: 130px;
  }

  .bi-cloud-upload {
    transition: 0.7s 0s ease;
  }

  .cancel-image {
    position: absolute;
    z-index: 700;

    top: -10px;
    right: -10px;
    border: none;
    background: transparent;
    transition: 0.7s 0s ease;
    color: #ff1313;
  }

  .uploaded-img {
    z-index: 100 !important;
  }

  .upload-image:hover .bi-cloud-upload {
    transform: scale(1.3);
  }

  .cancel-image:hover {
    transform: scale(1.3);
  }

  .cancel {
    font-size: 20px;
  }

  .alert {
    z-index: 99999 !important;
  }

  .image-error {
    background-color: #ff1313b0;
    border-radius: 10px;
    color: white;
    z-index: 99;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
  }

  .alert-danger {
    background-color: #ff1313b0;
    border-radius: 10px;
    color: white;
  }

  @media (max-width: 768px) {
    .upload-image {
      width: 140px;
      height: 140px;
    }

    .cancel {
      font-size: 17px;
    }
  }
</style>
{% endblock styles %} {% block content %}
<div class="container my-5">
  <div class="col-lg-10 m-auto">
    <!-- Business Info Section -->
    <div class="row justify-content-center py-5 my-5">
      <h4 class="text-center primary-green-text">BUSINESS INFO</h4>
      <div class="row shadow bg-light rounded-3 py-3 px-4">
        <!-- Left Side (Business Logo and Other Info) -->
        <div class="col-md-6 text-center">
          <img
            src="{{user.profile_pic.url}}"
            class="rounded-5 shadow-sm w-50"
            alt="Business Logo"
          />
        </div>

        <!-- Right Side (Business Name and Details) -->
        <div class="col-md-6">
          <div class="mb-3">
            <i class="bi bi-shop primary-green-text me-2"></i>
            <label class="primary-green-text">Business Name</label>
            <p class="form-control-static">{{business.name}}</p>
          </div>
          <div class="mb-3">
            <i class="bi bi-geo-alt-fill primary-green-text me-2"></i>
            <label class="primary-green-text">Business Location</label>
            <p class="form-control-static">{{business.address}}</p>
          </div>
          <div class="mb-3">
            <i class="bi bi-info-circle primary-green-text me-2"></i>
            <label class="primary-green-text">About Your Business</label>
            <p class="form-control-static">{{business.about}}</p>
          </div>
          <div class="mb-3">
            <i class="bi bi-briefcase primary-green-text me-2"></i>
            <label class="primary-green-text">Services Rendered</label>
            <p class="form-control-static">{{business.services}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Product Images Section -->
    <div class="my-4">
      <h3 class="text-center primary-green-text">Products & Service Images</h3>
      <div class="shadow bg-light rounded-3 py-3 px-4">
        <div class="row py-3 align-items-center">
          <!-- Display product images -->
          {% for image in business_images %}
          <div
            class="col-6 col-md-4 col-lg-3 d-flex justify-content-center"
          >
            <img
              src="{{image.image.url}}"
              class="rounded-3"
              alt="Product Image 1"
              style="width: 200px; height: 200px"
            />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Contact Information Section -->
    <div class="my-5">
      <h4 class="text-center primary-green-text my-4">
        LINKS & CONTACT INFORMATION
      </h4>
      <div class="shadow bg-light rounded-3 py-lg-3 px-lg-4 row p-3">
        <div class="col-md-4">
          <i class="bi bi-telephone-fill primary-green-text me-2"></i>
          <label class="primary-green-text">Business Phone Number</label>
          <p class="form-control-static">{{business.phone_num}}</p>
        </div>
        <div class="col-md-4">
          <i class="bi bi-envelope-fill primary-green-text me-2"></i>
          <label class="primary-green-text">Business Email</label>
          <p class="form-control-static">business.email</p>
        </div>
        <div class="col-md-4">
          <i class="bi bi-browser-edge primary-green-text me-2"></i>
          <label class="primary-green-text">Business Website</label>
          <p class="form-control-static">{{socials.website}}</p>
        </div>
        <div class="col-md-4">
          <i class="bi bi-facebook primary-green-text me-2"></i>
          <label class="primary-green-text">Facebook</label>
          <p class="form-control-static">{{socials.facebook}}</p>
        </div>
        <div class="col-md-4">
          <i class="bi bi-linkedin primary-green-text me-2"></i>
          <label class="primary-green-text">LinkedIn</label>
          <p class="form-control-static">{{socials.linkedln}}</p>
        </div>
        <div class="col-md-4">
          <i class="bi bi-twitter primary-green-text me-2"></i>
          <label class="primary-green-text">Twitter / X</label>
          <p class="form-control-static">{{socials.twitter}}</p>
        </div>
        <div class="col-md-4">
          <i class="bi bi-whatsapp primary-green-text me-2"></i>
          <label class="primary-green-text">WhatsApp</label>
          <p class="form-control-static">{{socials.whatsapp}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
