{% extends 'partials/base.html' %} {% load static %} {% block content %}
<div class="dashboard-container py-5">
  <!-- Greeting Section -->
  <div class="greeting-section px-5">
    <h1>Welcome back, {% if admin.first_name == 'Undefined' or admin.first_name == '' %}Admin{% else %}{{admin.first_name}}{% endif %}!</h1>
    <p>Here's a summary of your current activities and status</p>
  </div>

  <!-- Statistics Section -->
  <div class="stats-section px-5">
    <div class="stat-card">
      <h2>{{members.count}}</h2>
      <p>Active Member{{members.count | pluralize:'s'}}</p>
    </div>
    <div class="stat-card">
      <h2>{{units | length}}</h2>
      <p>Total Unit{{units.count|pluralize:"s"}}</p>
    </div>
    <div class="stat-card">
      <h2>0</h2>
      <p>Wallet Balance</p>
    </div>
  </div>

  <!-- Cards Section -->
  <div class="dashboard">
    <a href="{% url 'manage-member' %}" class="rounded myCard">
      <i class="bi bi-people-fill"></i>
      <div class="text-center my-2">
        <p>Total Member{{members.count | pluralize:'s'}}</p>
        <p>{{members.count}}</p>
      </div>
    </a>
    <a href="{% url 'financial-report' %}" class="rounded myCard">
      <i class="bi bi-briefcase-fill"></i>
      <div class="text-center my-2">
        <p>My Wallet</p>
        <p class="hidep">0</p>
      </div>
    </a>
    <a href="{% url 'manage-unit' %}" class="rounded myCard">
      <i class="bi bi-stack"></i>
      <div class="text-center my-2">
        <p>Total Unit{{units.count|pluralize:"s"}}</p>
        <p>{{units | length}}</p>
      </div>
    </a>
    <a href="{% url 'add-unit' %}" class="rounded myCard">
      <i class="bi bi-layers-fill"></i>
      <div class="text-center my-2">
        <p>Add New Unit</p>
      </div>
    </a>
    <a href="{% url 'register-member' %}" class="rounded myCard">
      <i class="bi bi-person-fill"></i>
      <div class="text-center my-2">
        <p>Add New Member</p>
      </div>
    </a>
    <a href="{% url 'create-payment' %}" class="rounded myCard">
      <i class="bi bi-cash-coin"></i>
      <div class="text-center my-2">
        <p>Create Finance</p>
      </div>
    </a>
    <a href="{% url 'unit-message' %}" class="rounded myCard">
      <i class="bi bi-chat-left-text-fill"></i>
      <div class="text-center my-2">
        <p>Send Message</p>
      </div>
    </a>
    <a href="{% url 'financial-report' %}" class="rounded myCard">
      <i class="bi bi-cash"></i>
      <div class="text-center my-2">
        <p>Financial Report</p>
      </div>
    </a>
    <a href="{% url 'admin-profile' %}" class="rounded myCard">
      <i class="bi bi-person-circle"></i>
      <div class="text-center my-2">
        <p>My Profile</p>
      </div>
    </a>
  </div>
</div>
{% endblock content %}
