{% extends 'partials/base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />

<style>
  body {
    display: grid;
    place-items: center;
    height: 100vh;
  }

  .table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .table-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }

  .table {
    border-radius: 5px !important;
    overflow: hidden;
  }

  .table tbody td {
    background-color: #eaf2e3;
  }

  .action-icons i {
    font-size: 1.2rem;
    padding: 8px;
    margin-right: 5px;
  }

  .pagination-arrow {
    color: green;
    font-size: 30px;
    cursor: pointer;
  }
</style>
{% endblock styles %} {% block content %}
<div class="container my-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-12">
      <div class="table-container">
        <div class="table-actions">
          <h2>Unit's List</h2>
          <div class="d-flex justify-content-center align-items-center gap-3">
            <a href="{% url 'add-unit' %}" class="btn btn-custom">
              <i class="bi bi-plus-circle icon icon-btn"></i>
              <span>Add Unit</span>
            </a>
            <button class="btn btn-custom">
              <i class="bi bi-download icon icon-btn"></i>
              <span>Export List</span>
            </button>
          </div>
        </div>
        <div class="table-responsive-xxl">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="text-center">NO</th>
                <th class="text-center">Unit Name</th>
                <th class="text-center">Date</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for unit in units %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{unit.unit_name}}</td>
                <td>{{unit.date_created}}</td>
                <td class="action-icons">
                  <div class="action-icons-container">
                    <a data-bs-toggle="modal" data-bs-unitName="{{unit.unit_name}}" data-bs-unitId="{{unit.id}}" href="#edit-unit-modal"
                      class="text-info"><i class="bi bi-pencil-square"></i></a>
                    <a href="#" class="text-warning"><i class="bi bi-eye-fill"></i></a>
                    <a href="#" class="text-danger"><i class="bi bi-trash-fill"></i></a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center gap-4 align-items-center mt-4">
          <i class="bi bi-arrow-left pagination-arrow"></i>
          <div>
            <button class="btn-pagination">1</button>
          </div>
          <i class="bi bi-arrow-right pagination-arrow"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade mt-5" id="edit-unit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update unit</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <input type="hidden" id="unit-id" name="unit-id">
          <div class="mb-3">
            <label for="unit-name" class="text-left col-form-label">Unit name:</label>
            <input id="unit-name" name="unit-name" type="text" class="form-control" id="unit-name">
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" style="background: #ff0000;" class="btn" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-custom">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>



<script>
  const unitmodal = document.getElementById('edit-unit-modal')
  if (unitmodal) {
    unitmodal.addEventListener('show.bs.modal', event => {
      // Button that triggered the modal
      const button = event.relatedTarget
      // Extract info from data-bs-* attributes
      const unitId = button.getAttribute('data-bs-unitId')
      const unitName = button.getAttribute('data-bs-unitName')
      // If necessary, you could initiate an Ajax request here
      // and then do the updating in a callback.

      // Update the modal's content.
      const unitIdInput = unitmodal.querySelector('#unit-id')
      const unitNameInput = unitmodal.querySelector('#unit-name')

      unitIdInput.value = unitId
      unitNameInput.value = unitName
    })
  }
</script>
{% endblock content %}