{% extends 'partials/base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />

<style>
  .table-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }

  .table tbody td {
    background-color: #eaf2e3;
  }

  .action-icons i {
    font-size: 1.2rem;
    padding: 8px;
    margin-right: 5px;
  }

  .pagination-arrow {
    color: green;
    font-size: 30px;
    cursor: pointer;
  }
</style>
{% endblock styles %} {% block content %}
<div class="container my-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-12">
      <div class="table-container">
        <div class="table-actions">
          <h2>Pending Approvals</h2>
          <div class="d-flex justify-content-center align-items-center gap-3">
            <button class="btn btn-custom">
              <i class="bi bi-download icon icon-btn"></i>
              <span>Export List</span>
            </button>
          </div>
        </div>
        <div class="table-responsive-xxl">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="text-center">Business Name</th>

                <th class="text-center">Role</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td class="text-center">
                  {% if not user.is_staff %} {% if user.business %}
                  {{user.business.name}} {% else %} {{user.username}} {% endif%}
                  {% endif %}
                </td>
                <td class="text-center">
                  {% if user.is_staff == False %}Member{% else %}Admin {%endif%}
                </td>
                <td class="action-icons">
                  <div
                    class="action-icons-container d-flex justify-content-center align-items-center"
                  >
                    <a
                      href="#"
                      class="text-success"
                      title="Approve user profile"
                      ><i class="bi bi-check-circle-fill"></i
                    ></a>
                    <a
                      href="#"
                      class="text-danger"
                      title="Disapprove user profile"
                      ><i class="bi bi-x-circle-fill"></i
                    ></a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div
          class="d-flex justify-content-center gap-4 align-items-center mt-4"
        >
          <i class="bi bi-arrow-left pagination-arrow"></i>
          <div>
            <button class="btn-pagination">1</button>
          </div>
          <i class="bi bi-arrow-right pagination-arrow"></i>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
