{% extends 'partials/base.html' %} {% load static %} {% block extraheadjs%}
<script
  src="https://cdn.tiny.cloud/1/s2wmyj0a6srmak9w1bbon5fxe4jkht4w3m939ojiva9ciw54/tinymce/7/tinymce.min.js"
  referrerpolicy="origin"
></script>
<script>
  tinymce.init({
    selector: "textarea",
    plugins:
      "lists link image preview code fullscreen anchor autolink emoticons searchreplace table visualblocks wordcount",
    toolbar:
      "undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | link image | preview fullscreen",
    height: 250,
    menubar: false,
    branding: false,
    setup: function (editor) {
      editor.on("change", function () {
        tinymce.triggerSave(); // Ensure that the TinyMCE content gets submitted on form submission
      });
    },
  });
</script>
{% endblock extraheadjs %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<style>
  /* Unique Styles for Send Message Page */
  body {
    /* {% comment %} background-color: #e8f5e9; {% endcomment %} */
    font-family: "Arial", sans-serif;
  }

  .message-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin: 50px auto;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .message-container h2 {
    color: #33691e;
    font-size: 1.75rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .message-container h2 i {
    margin-right: 10px;
    font-size: 1.5rem;
    color: #2e7d32;
  }

  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }

  .form-group label {
    color: #33691e;
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .form-control-sec {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #a5d6a7;
    background-color: #f1f8e9;
  }

  .form-control-sec:focus {
    outline: none;
    border-color: #66bb6a;
  }

  .send-all {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .send-all input {
    margin-right: 10px;
  }

  /* Recently Sent Messages Section */
  .recent-messages {
    margin-top: 40px;
  }

  .recent-messages h4 {
    color: #388e3c;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .message-list {
    list-style: none;
    padding-left: 0;
  }

  .message-list li {
    background-color: #f1f8e9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .message-list .status {
    font-weight: bold;
  }

  .status-sent {
    color: #2e7d32;
  }

  .status-pending {
    color: #ff7043;
  }

  .message-type-container {
    display: flex;
    justify-content: space-between;
    /* margin-top: 50px; */
  }

  .message-type-option {
    width: 25%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    /* text-align: center; */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: column; */
  }

  /* .message-type-option:hover {
    transform: translateY(-5px);
  } */

  .message-type-option:has(input[type="radio"]:checked) {
    border-color: #2e7d32;
    box-shadow: 0 4px 12px rgba(46, 125, 50, 0.5);
  }

  .message-type-icon {
    font-size: 20px;
    /* margin-bottom: 15px; */
  }

  .message-type-title {
    font-weight: bold;
    font-size: 18px;
    color: #333;
  }

  /* Hide actual radio buttons */
  input[type="radio"] {
    display: none;
  }
</style>

{% endblock styles %} {% block content %}
<div class="container">
  <div class="row justify-content-center align-items-start">
    <div class="col-lg-5">
      <div class="recent-messages">
        <h4><i class="bi bi-clock-history"></i> Recently Sent Messages</h4>
        <ul class="message-list">
          <li>
            <span>Message to ICT and Creative Initiatives</span>
            <span class="status status-sent">Sent</span>
          </li>
          <li>
            <span>Message to Operations and Logistics</span>
            <span class="status status-pending">Pending</span>
          </li>
          <li>
            <span>Message to Marketing and Communications</span>
            <span class="status status-sent">Sent</span>
          </li>
        </ul>
      </div>
      <div class="info-box">
        <h4><i class="bi bi-info-circle-fill"></i> Need Help?</h4>
        <p>
          If you're having trouble sending messages, please contact support for
          assistance or consult the help section.
        </p>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="message-container">
        <h2><i class="bi bi-envelope-fill"></i> Send Message to Units</h2>
        <form action="#" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              id="title"
              name="title"
              class="form-control-sec"
              required
              placeholder="Enter the message title"
            />
          </div>
          <div class="form-group">
            <label>Message type</label>
            <div class="message-type-container">
              <!-- Warning Section -->
              <label
                for="warning"
                class="message-type-option"
                id="warning-option"
              >
                <i
                  class="message-type-icon text-warning bi bi-exclamation-triangle-fill"
                ></i>
                <span class="message-type-title">Warning</span>
                <input
                  type="radio"
                  name="messageType"
                  id="warning"
                  value="w"
                  required
                />
              </label>

              <!-- Info Section -->
              <label for="info" class="message-type-option" id="info-option">
                <i
                  class="message-type-icon text-info bi bi-info-circle-fill"
                ></i>
                <span class="message-type-title">Info</span>
                <input
                  type="radio"
                  name="messageType"
                  id="info"
                  value="i"
                  required
                />
              </label>

              <!-- Error Section -->
              <label for="error" class="message-type-option" id="error-option">
                <i
                  class="message-type-icon text-danger bi bi-x-circle-fill"
                ></i>
                <span class="message-type-title">Error</span>
                <input
                  type="radio"
                  name="messageType"
                  id="error"
                  value="e"
                  required
                />
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>Message</label>
            <textarea
              id="message"
              name="message"
              class="form-control-sec"
              required
            ></textarea>
          </div>

          <div class="form-group">
            <label for="unit">Unit</label>
            <select id="unit" name="unit" class="form-control-sec" value="">
              <option value="">....Select a unit to message....</option>
              {% for unit in units %}
              <option value="{{unit.id}}">{{unit.unit_name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="send-all">
            <input type="checkbox" id="sendAll" name="sendAll" />
            <label for="sendAll">Send to All Units</label>
          </div>
          <button type="submit" class="btn btn-custom w-100 mt-3">
            Send Message
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
